.title-header {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.title-logo {
  height: 80px;
  width: auto;
  padding-right: 20px;
}

.tltle-text {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.body-image {
  width: auto;
  display: flex;
}
